{% load staticfiles %}
<html>
    <head>
        <title>Gpat's blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">

    </head>

    <style>
        body{
            margin: 0;
        }
        .django-head{
            background: rgb(236, 141, 72);
            height: 100px;
            margin: 0;
            font-size: 30px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        .django-para{
            color: aliceblue;
            padding-left: 10px;
        }
        a{
            font-size: 20px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    </style>

    <body>
        <div class="django-head">
            <h1 class="django-para">Django Girls Blog</h1>
        </div>
        
        <div>
            <p>published: 24.09.2018, 15:51</p>
            <h2><a href="">What is HTML?</a></h2>
            <p>HTML is a simple code that is interpreted by your web browser – such as Chrome, Firefox or Safari – to display a web page
                for the user.
                HTML stands for "HyperText Markup Language". HyperText means it's a type of text that supports hyperlinks between
                pages. Markup means we have taken a document and marked it up with code to tell something (in this case, a browser)
                how to interpret the page. HTML code is built with tags, each one starting with < and ending with > . These tags
                represent markup elements.
            </p>
        </div>

        <div>
            <p>published: 24.09.2018, 16:00</p>
            <h2><a href="">Attitude to Learning</a></h2>
            <p>Learning is life and life is all about learning. Being diligent and staying consistent is an indispensable
                character in the place of learning.
            </p>
        </div>

        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% for post in posts %}
                    <div class="post">
                    <div class="date">
                    {{ post.published_date }}
                    </div>
                    <h1><a href="">{{ post.title }}</a></h1>
                    <p>{{ post.text|linebreaksbr }}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
                

    </body>
</html>
